{% extends "base.html" %}
{% block title %}Signup {% endblock title %}
{% block content %}
  <form method = 'POST' acttion=''>
   {% csrf_token %} 
   <h4> Create Your Account </h4>
    {% for field in form %}
    {% if field.errors %}
     
    <div class ="mb-3">
         {{field}}
         <small>{{field.errors}}</small>
       </div>

    {% else %}
     <div class ="mb-3">
         {{field}}
       </div>
    
    {% endif %}

    {% endfor %}
    <button class = 'btn btn-primary'>Create Account</button>
    <p>You Alredy have an Acount ? <a href="{% url 'signin' %}">Login </a></p>

  </form>
{% endblock content %}